@import "../variables.less";


.body-wrapper {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    background-color: @body-bg;
    font-size: @main-font-size;
    line-height: @main-line-height;
    color: @main-font-color;
}