@main-font-color: #283645;
@advantages-bg: #f2f2f2;
@contact-font-color: #d22856;
@submit-btn-color: #2aab6d;

@import "../mixin.less";

.form__title {
    .zero-style();
    .font-size (14px, 30px);
    color: @main-font-color;
    font-weight: 400;
    font-family: inherit;
}

.form__name-fields label, .form__contacts label {
    .zero-style();
    .font-size (14px, 30px);
    color: @contact-font-color;
    text-transform: uppercase;
    font-family: inherit;
}

.form__proofs  p, .form__whatapp p {
    .zero-style();
    .font-size (14px, 18px);
    color: @contact-font-color;
    text-transform: uppercase;
    font-family: inherit;
}

.form__proofs-item label, .form__whatapp label {
    .zero-style();
    .font-size (18px, 30px);
    font-family: inherit;
    color: @main-font-color;
}
