@main-font-color: #283645;
@advantages-bg: #f2f2f2;
@contact-font-color: #d22856;
@submit-btn-bg: #2aab6d;
@font-color-white: #ffffff;

@import "../mixin.less";

.form__title {
    .zero-style();
    .font-size (14px, 30px);
    color: @main-font-color;
    font-weight: 400;
    font-family: inherit;
}

.form__name-fields, .form__proofs, .form__contacts, .form__whatapp, .form__textfield {
  .padding-left-right();
}

.form__name-fields label, .form__contacts label, .form__textfield p {
    .zero-style();
    .font-size (14px, 30px);
    color: @contact-font-color;
    text-transform: uppercase;
    font-family: inherit;
}

.form__proofs {
    .zero-style();
    .padding-left-right();
    background-color: @advantages-bg;
    & ul {
       .zero-style();
  }
}

.form__whatapp {
    background-color: @advantages-bg;
}

.form__proofs  p, .form__whatapp p {
    .zero-style();
    .font-size (14px, 18px);
    color: @contact-font-color;
    text-transform: uppercase;
    font-family: inherit;
}

.form__name-field, .form__proofs-item label, .form__whatapp label, .form__tel-field, .form__email-field, .form__textfield textarea {
    .zero-style();
    .font-size (18px, 30px);
    font-family: inherit;
    color: @main-font-color;
}

.form__textfield textarea {
    resize: none;
}

.form__btn {
    .padding-left-right (47px, 47px);
    .padding-top-bottom (20px, 20px);
    .font-size (18px, 30px);
    text-transform: uppercase;
    color: @font-color-white;
    background-color: @submit-btn-bg;
    font-family: inherit;
}

.form__form-warning {
    .font-size (14px, 30px);
    color: @main-font-color;
    font-family: inherit;
  & sup {
      color: @contact-font-color;
  }
}
