@import "../variables.less";

@import "../mixin.less";

.gallery__item {
    .padding-left-right (20px, 20px);
}

.gallery__wrapper {
    .container();
    margin-top: -225px;
    background: @body-bg;
    color: @main-font-color;
}

.gallery__title {
    .padding-top-bottom (52px, 56px);
    .padding-left-right (35px, 35px);
    text-align: center;
}

.gallery__title p {
   .zero-style();
   .font-size (14px, 30px);
   font-family: inherit;
}

.gallery__photo {
    width: 280px;
    height: 180px;
}

.gallery__photo--panorama {
    height: 137px;
    min-width: 320px;
    margin-left: -20px;
}

.gallery__comment {
    background-color: @advantages-bg;
    .padding-left-right (18px, 18px);
    .padding-top-bottom (23px; 23px);
  & p {
      .zero-style();
      .font-size (14px, 24px);
  }
}

.gallery__comment-auhor {
    .font-size (14px, 24px);
    font-weight: 700;
    font-family: inherit;
}

.gallery__comment-time-ago {
    .font-size (12px, 24px);
    font-weight: 300;
    font-family: inherit;
}

.gallery__likes-counter {
    .font-size (12px, 24px);
    color: @contact-font-color;
    text-transform: uppercase;
}

.gallery__likes {
    padding-top: 22px;
}


