@import "../variables.less";

@import "../mixin.less";

.intro__wrapper {
    .container();
    min-height: 460px;
    padding-top: 100px;
    .padding-left-right (45px, 45px);
    background: #1d2631 url("../../img/bg-back-mobile@1x.jpg") no-repeat;
}

.intro__header {
    .zero-style;
    .font-size (24px, 26px);
    color: @font-color-white;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
}