@import "../variables.less";

@import "../mixin.less";

.page-footer__footer-logo a {
    display: block;
    .size (147px, 41px);
    background: url("../../img/logo-pink-blue-mobile.svg") no-repeat;
    font-size: 0;
}

.page-footer__develop span {
    .font-size (14px, 18px);
    color: @main-font-color;
    font-family: inherit;
}