@import "../variables.less";

@import "../mixin.less";

.page-header {
    background-color: @page-header-bg;
    padding-top: 20px;
    position: relative;
}

.page-header__logo-link {
    display: block;
    .size(75px, 23px);
    font-size: 0;
    background: url("../../img/logo-pink-white-mobile.svg") center no-repeat;
}
