@import "../variables.less";

@import "../mixin.less";

.reviews__auhor-name {
    .zero-style();
    color: @advantages-h3-color;
    .font-size(18px, 30px);
    font-weight: 700;
}

.reviews__item p {
    .zero-style();
    .font-size( 14px, 30px);
    font-family: inherit;
    color: inherit;
}