@import "variables.less";


.body-wrapper {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    background-color: @body-bg;
    font-size: @main-font-size;
    line-height: @main-line-height;
    color: @main-font-color;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}