.body-wrapper {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -66px;
  min-height: 69px;
  background-color: rgba(28, 38, 49, 0.3);
  padding-top: 20px;
  position: relative;
}
@media (min-width: 700px) {
  .page-header {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}
.page-header__logo {
  float: left;
}
.page-header__logo-link {
  float: left;
  display: block;
  width: 75px;
  height: 23px;
  font-size: 0;
  background: url("../../img/logo-pink-white-mobile.svg") center no-repeat;
}
.page-header__open {
  float: right;
}
.page-header__btn {
  font-size: 0;
  background: none;
  border: none;
  outline: none;
}
.page-header__open-btn {
  width: 50px;
  height: 25px;
  background: url("../../img/icon-menu-burger.svg") no-repeat center;
}
@media (min-width: 700px) {
  .page-header {
    min-height: 110px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -110px;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .page-header__logo-link {
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.png") center no-repeat;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 43px;
    margin-bottom: -115px;
  }
  .page-header::after {
    content: "";
    display: table;
    clear: both;
  }
  .page-header__logo-link {
    width: 150px;
    height: 44px;
    background: url("../../img/logotype-white-desktop.png") center no-repeat;
  }
  .page-header__open {
    display: none;
  }
}
.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .main-nav__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
.main-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.main-nav__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}
@media (min-width: 700px) {
  .main-nav__list {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 1200px;
  }
}
.main-nav__list-item {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  background-color: #283645;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #000000;
}
.main-nav__list-item a:not(.main-nav__logo-link) {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
}
.main-nav__logo-link {
  float: left;
  display: block;
  width: 75px;
  height: 23px;
  font-size: 0;
  background: url("../../img/logo-pink-white-mobile.svg") center no-repeat;
}
.page-header__close-btn {
  float: right;
  width: 50px;
  height: 25px;
  background: url("../../img/icon-menu-cross.svg") no-repeat center;
}
@media (min-width: 1200px) {
  .main-nav {
    display: block;
    width: 625px;
    float: left;
    position: relative;
  }
  .main-nav__list {
    font-size: 0;
    padding-top: 15px;
    margin-left: 168px;
  }
  .main-nav__list-item {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .main-nav__list-item:not(:last-of-type) {
    margin-right: 80px;
  }
  .main-nav__list-item--hidden {
    display: none;
  }
}
.intro__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 460px;
  padding-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
  background: #1d2631 url("../../img/bg-back-mobile@1x.jpg") no-repeat;
}
@media (min-width: 700px) {
  .intro__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper {
    width: 1200px;
  }
}
.intro__header {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
@media (min-width: 700px) {
  .intro__wrapper {
    min-height: 727px;
    background: #1d2631 url("../../img/back-tablet@1x.jpg") no-repeat;
  }
  .intro__header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    line-height: 52px;
    margin-top: 80px;
  }
}
.download-app {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .download-app {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .download-app {
    width: 1200px;
  }
}
.download-app__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 35px;
  background-color: #1d2631;
  text-align: center;
}
@media (min-width: 700px) {
  .download-app__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .download-app__wrapper {
    width: 1200px;
  }
}
.download-app__title {
  display: none;
}
.download-app__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 36px;
  padding-right: 36px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  font-family: inherit;
  cursor: pointer;
}
.download-app__logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.download-app__logo-apple {
  background: url("../../img/logo-apple.svg") center no-repeat;
}
.download-app__logo-android {
  background: url("../../img/logo-android.svg") center no-repeat;
}
.download-app__logo-windows {
  background: url("../../img/logo-microsoft.svg") center no-repeat;
}
.download-app__annotation {
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
@media (min-width: 700px) {
  .download-app__wrapper {
    position: absolute;
    left: 40px;
    top: -545px;
    width: 300px;
    background-color: transparent;
  }
  .download-app__title {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    display: block;
    margin: 0 auto;
    padding-bottom: 37px;
    width: 190px;
    color: #ffffff;
    font-family: inherit;
    font-size: 40px;
    line-height: 42px;
    font-weight: 300;
  }
  .download-app__btn {
    margin-bottom: 42px;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 44px;
  z-index: 5;
}
@media (min-width: 700px) {
  .advantages__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 1200px;
  }
}
.advantages__quote-question,
.advantages__quote-answer {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  font-family: inherit;
  color: #283645;
}
.advantages__quote-question {
  margin-bottom: 30px;
}
.advantages__quote-answer {
  margin-bottom: 65px;
}
.advantages__item:nth-child(n+1) {
  padding-top: 40px;
}
.advantages__item-list {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  padding-top: 55px;
}
.advantages__item-list:last-child {
  padding-bottom: 320px;
}
.advantages__item h3 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  text-align: center;
}
.advantages__item p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
  font-family: inherit;
  text-align: center;
}
.advantages__bottom-iphone {
  position: absolute;
  top: 560px;
  left: 78px;
  width: 157px;
  height: 320px;
  background: url("../../img/iphone-screen-mobile@1x.png");
}
@media (min-width: 700px) {
  .advantages__wrapper {
    padding-top: 55px;
  }
  .advantages__quote-question,
  .advantages__quote-answer {
    font-size: 40px;
    line-height: 42px;
  }
  .advantages__quote-question {
    margin-bottom: 10px;
  }
  .advantages__quote-answer {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 100px;
  }
  .advantages__item-list {
    padding-top: 25px;
    padding-left: 350px;
    padding-right: 40px;
  }
  .advantages__item h3,
  .advantages__item p {
    text-align: left;
  }
  .advantages__item:nth-child(1) {
    padding-top: 0px;
  }
  .advantages__item-list:last-child {
    padding-bottom: 45px;
  }
  .advantages__bottom-iphone {
    position: absolute;
    top: -15px;
    left: 40px;
    width: 268px;
    height: 558px;
    background: url("../../img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .advantages__quote {
    padding-left: 230px;
    padding-right: 230px;
  }
  .advantages__item-list {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 0;
    text-align: center;
  }
  .advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 229px;
  }
  .advantages__item:nth-child(even) {
    margin-right: 85px;
    margin-left: 85px;
  }
  .advantages__item:nth-child(n+1) {
    padding-top: 260px;
  }
  .advantages__bottom-iphone {
    display: none;
  }
  .advantages__item h3 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
  .advantages__item p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
.slider__input {
  display: none;
}
.reviews__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  z-index: 10;
}
@media (min-width: 700px) {
  .reviews__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 1200px;
  }
}
.reviews__promo-text,
.reviews__auhor-detail {
  display: none;
}
.reviews__promo-text-title {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
}
.reviews__promo-text-article {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  color: #283645;
}
.reviews__promo-text-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  color: #d22856;
}
.reviews__auhor-name {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  margin-bottom: 25px;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
.reviews__item p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 30px;
  font-family: inherit;
  color: inherit;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 700px) {
  .reviews__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 125px;
  }
  .reviews__promo-text {
    display: block;
    padding-left: 310px;
    padding-top: 100px;
  }
  .reviews__promo-text-title {
    padding-bottom: 18px;
  }
  .reviews__promo-text-article {
    padding-bottom: 18px;
  }
  .reviews__items {
    margin-top: 300px;
  }
  .reviews__auhor-name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .reviews__item p {
    font-size: 18px;
    line-height: 30px;
    margin-top: -170px;
  }
  .reviews__auhor-detail {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-family: inherit;
    color: inherit;
    font-weight: 400;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .reviews__promo-text {
    background-color: #f2f2f2;
    padding-left: 490px;
    padding-right: 175px;
    padding-bottom: 115px;
  }
  .reviews__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.price__wrapper {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto;
  padding-top: 65px;
}
@media (min-width: 700px) {
  .price__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .price__wrapper {
    width: 1200px;
  }
}
.price__items {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  margin-left: -435px;
}
.price__table-header {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  background-color: #283645;
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
}
.price__table-header p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-family: inherit;
}
.price__table-field {
  padding-left: 17px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: inherit;
  border: 2px solid #cccccc;
}
.price__table-field-hidden-th {
  background-color: transparent;
  border-left: none;
}
@media (min-width: 700px) {
  .price__wrapper {
    padding-top: 35px;
    padding-bottom: 68px;
  }
  .price__items {
    margin: 0 auto;
  }
  .price__table-header {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
  }
  .price__table-header p {
    font-size: 18px;
    line-height: 30px;
  }
  .price__table-field {
    font-size: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .price__table-field-hidden {
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .price__table-header {
    padding-left: 65px;
    padding-right: 65px;
    font-size: 18px;
    line-height: 30px;
  }
  .price__table-header p {
    font-size: 24px;
    line-height: 30px;
  }
  .price__table-field-hidden {
    font-size: 18px;
    line-height: 30px;
    padding-left: 22px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.contacts {
  min-height: 610px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .contacts {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: 1200px;
  }
}
.contacts__wrapper {
  background-color: #ffffff;
}
.contacts__header {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 42px;
  padding-top: 47px;
  color: #283645;
  font-family: inherit;
  font-weight: 300;
  text-align: center;
}
.contacts__action {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #283645;
  text-align: center;
}
.contacts__items-item:nth-child(odd) {
  padding-top: 29px;
  padding-bottom: 29px;
}
.contacts__items-item:last-child {
  padding-bottom: 43px;
}
.contacts__contact a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  display: block;
  margin: auto;
}
.contacts__contact,
.contacts__contact a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 24px;
  line-height: 25px;
  color: #d22856;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
@media (min-width: 700px) {
  .contacts__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contacts__header {
    padding-top: 53px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 40px;
    line-height: 42px;
  }
  .contacts__items {
    text-align: center;
    font-size: 0;
    padding-bottom: 30px;
  }
  .contacts__items-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
  }
  .contacts__items-item:nth-child(odd) {
    padding: 0;
  }
  .contacts__items-item:first-child {
    margin-right: 100px;
  }
  .contacts__items-item:nth-child(3) {
    margin-top: 52px;
  }
  .contacts {
    background-size: cover;
    min-height: 720px;
  }
}
@media (min-width: 1200px) {
  .contacts__items-item:nth-child(3) {
    margin-top: 0px;
    margin-left: 100px;
  }
  .contacts__header {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 50px;
    line-height: 52px;
  }
}
.form {
  position: relative;
  margin-top: -230px;
}
.form__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 0;
  background: #ffffff;
}
@media (min-width: 700px) {
  .form__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    width: 1200px;
  }
}
.form__title {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 50px;
  color: #283645;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
}
.form__title--hidden {
  display: none;
}
.form__name-fields,
.form__proofs,
.form__contacts,
.form__whatapp,
.form__textfield,
.form__title {
  padding-left: 20px;
  padding-right: 20px;
}
.form__name-fields label,
.form__contacts label,
.form__textfield p {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  color: #d22856;
  text-transform: uppercase;
  font-family: inherit;
}
.form__name-field {
  width: 100%;
  padding-left: 20px;
  height: 60px;
  border: 2px solid #cccccc;
  outline: none;
}
.form__name-field:nth-of-type(1) {
  margin-bottom: 22px;
}
.form__proofs {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
  margin-top: 42px;
  background-color: #f2f2f2;
}
.form__proofs ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}
.form__whatapp {
  background-color: #f2f2f2;
}
.form__proofs p,
.form__whatapp p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  font-family: inherit;
  text-align: center;
}
.form__proofs p {
  margin-bottom: 53px;
}
.form__name-field,
.form__proofs-item label,
.form__whatapp label,
.form__tel-field,
.form__email-field,
.form__textfield textarea {
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: #283645;
}
.form__textfield textarea {
  resize: none;
}
.form__btn {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  font-family: inherit;
}
.form__form-warning {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  font-family: inherit;
}
.form__form-warning sup {
  color: #d22856;
}
.form__wrapper input::-webkit-input-placeholder,
.form__wrapper textarea::-webkit-input-placeholder {
  color: #283645;
}
.form__wrapper input:-moz-placeholder,
.form__wrapper textarea:-moz-placeholder {
  color: #283645;
}
.form__wrapper label {
  padding-left: 22px;
}
.form__proofs-item:not(:last-child) {
  padding-bottom: 65px;
}
.form__proofs-item {
  padding-bottom: 60px;
}
.form__proofs input[type="checkbox"] {
  display: none;
}
.form__proofs input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 70px;
}
.form__proofs input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  border-radius: 2px;
  top: 0;
  left: 0;
}
.form__proofs input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 17px;
  background: url("../../img/icon-yes.svg") no-repeat;
  top: 10px;
  left: 7px;
}
.form__contacts {
  padding-top: 37px;
  padding-bottom: 55px;
}
.form__contacts input {
  width: 100%;
  padding-left: 20px;
  height: 60px;
  border: 2px solid #cccccc;
  outline: none;
}
.form__tel-field {
  margin-bottom: 22px;
}
.form__whatapp {
  padding-top: 37px;
  padding-bottom: 55px;
}
.form__whatapp p {
  padding-bottom: 50px;
}
.form__whatapp input[type="radio"] {
  display: none;
}
.form__whatapp input[type="radio"] + label:not(:last-child) {
  margin-bottom: 60px;
}
.form__whatapp input[type="radio"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 70px;
}
.form__whatapp input[type="radio"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.form__whatapp input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d53963;
  top: 10px;
  left: 10px;
}
.form__textfield {
  padding-top: 60px;
  margin-bottom: 47px;
}
.form__textfield p {
  text-align: center;
}
.form__textfield textarea {
  width: 100%;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  outline: inherit;
  border: 2px solid #cccccc;
}
.form__btn {
  display: block;
  margin: 0 auto;
}
.form__form-warning {
  margin-top: 42px;
  text-align: center;
}
@media (min-width: 700px) {
  .form__title {
    font-size: 18px;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
  }
  .form__title--hidden {
    display: block;
    padding-bottom: 50px;
  }
  .form__name-fields,
  .form__proofs,
  .form__contacts,
  .form__whatapp,
  .form__textfield,
  .form__title {
    padding-left: 40px;
    padding-right: 40px;
  }
  .form__name-fields {
    margin-bottom: 430px;
  }
  .form__name-fields label {
    display: block;
  }
  .form__name-field {
    width: 83%;
    margin-left: 20px;
  }
  .form__name-fields label:nth-child(2) .form__name-field {
    width: 90%;
  }
  .form__whatapp {
    position: absolute;
    top: 460px;
    left: 40px;
    width: 88%;
    background-color: transparent;
    border: 2px solid #cccccc;
  }
  .form__whatapp p {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: -45px;
    width: 65%;
  }
  .form__proofs {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 66px;
}
@media (min-width: 700px) {
  .page-footer__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1200px;
  }
}
.page-footer__wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.page-footer-hidden {
  display: none;
}
.page-footer__footer-logo {
  width: 152px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.page-footer__footer-logo a {
  display: block;
  width: 147px;
  height: 41px;
  background: url("../../img/logo-pink-blue-mobile.svg") no-repeat;
  font-size: 0;
}
.page-footer__develop span {
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  font-family: inherit;
}
.page-footer__social-links {
  text-align: center;
  font-size: 0;
}
.page-footer__social-link {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border: 3px solid #cccccc;
  border-radius: 50%;
  font-size: 0;
}
.page-footer__social-link:not(:last-of-type) {
  margin-right: 12px;
}
.page-footer__develop {
  text-align: center;
  padding-top: 45px;
}
@media (min-width: 700px) {
  .page-footer-hidden {
    display: block;
  }
  .page-footer__wrapper {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .page-footer__footer-logo {
    float: left;
    margin: auto;
    margin-right: 70px;
  }
  .page-footer__social-links {
    float: left;
  }
  .page-footer__develop {
    float: right;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    padding-left: 130px;
    padding-right: 130px;
  }
  .page-footer__footer-logo {
    margin-right: 230px;
  }
}
.gallery__item {
  padding-left: 20px;
  padding-right: 20px;
}
.gallery__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: -225px;
  background: #ffffff;
  color: #283645;
}
@media (min-width: 700px) {
  .gallery__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .gallery__wrapper {
    width: 1200px;
  }
}
.gallery__title {
  padding-top: 52px;
  padding-bottom: 56px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}
.gallery__title p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 30px;
  font-family: inherit;
}
.gallery__photo {
  width: 280px;
  height: 180px;
}
.gallery__photo--panorama {
  height: 137px;
  min-width: 320px;
  margin-left: -20px;
  background: url("../../img/panorama-mobile@1x.jpg") no-repeat center;
}
.gallery__comment {
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.gallery__comment p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;
}
.gallery__comment-auhor {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.gallery__comment-time-ago {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  font-family: inherit;
}
.gallery__likes-counter {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
.gallery__likes {
  padding-top: 22px;
}
@media (min-width: 700px) {
  .gallery__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -295px;
    font-size: 0;
  }
  .gallery__item {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gallery__title {
    padding-left: 90px;
    padding-right: 90px;
  }
  .gallery__title p {
    font-size: 18px;
    line-height: 30px;
  }
  .gallery__photo img {
    min-width: 300px;
  }
  .gallery__photo--panorama {
    margin-left: -40px;
    height: 510px;
    min-width: 700px;
    background-size: cover;
  }
  .gallery__comment {
    position: relative;
  }
  .gallery__likes-panorama {
    position: absolute;
    top: 0;
    right: 30px;
  }
  .gallery__item-panorama {
    margin-bottom: 50px;
  }
  .gallery__item:not(:nth-child(2)) {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-bottom: 20px;
  }
  .gallery__item:not(:nth-child(2)) .gallery__comment {
    height: 155px;
    min-width: 300px;
  }
  .gallery__item-panorama ~ .gallery__item:nth-child(odd) {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .gallery__wrapper {
    padding-left: 130px;
    padding-right: 130px;
  }
  .gallery__photo--panorama {
    margin-left: -130px;
    min-width: 1200px;
  }
  .gallery__item:not(:nth-child(2)) {
    margin-bottom: 55px;
  }
  .gallery__item-panorama ~ .gallery__item:nth-child(odd) {
    margin-right: 0px;
  }
  .gallery__item-panorama ~ .gallery__item:nth-child(3n+1) {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.photo-editor__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}
@media (min-width: 700px) {
  .photo-editor__wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .photo-editor__wrapper {
    width: 1200px;
  }
}
.photo-editor__range-controls {
  margin-bottom: 37px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}
.photo-editor__title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #ffffff;
}
.photo-editor__title p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-family: inherit;
}
.photo-editor__photo {
  margin: 0 auto;
  margin-top: 20px;
  width: 280px;
  min-height: 374px;
  background: url("../../img/photo-road-mobile@1x.jpg") no-repeat center;
}
.photo-editor__post-btn {
  display: block;
  margin: 0 auto;
  min-width: 280px;
  padding-top: 16px;
  padding-bottom: 18px;
  padding-left: 88px;
  padding-right: 88px;
  font-size: 18px;
  line-height: 19px;
  color: #d22856;
  background-color: transparent;
  border: 3px solid #d22856;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.photo-editor__post-btn-cancel {
  margin-top: 12px;
}
.photo-editor__post-btn-cancel {
  opacity: 0.1;
}
.photo-editor__tools {
  text-align: center;
  font-size: 0;
}
.photo-editor__tool-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  border: 2px solid #cccccc;
}
.photo-editor__tool-btn:not(:last-of-type) {
  margin-right: 34px;
}
.photo-editor__range-controls-scale {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 34px;
  height: 2px;
  width: 240px;
  background-color: #283645;
}
.photo-editor__range-controls-range {
  position: absolute;
  left: 180px;
  top: -6px;
  width: 15px;
  height: 15px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
}
@media (min-width: 700px) {
  .photo-editor__photo {
    margin-left: 40px;
    margin-right: 20px;
  }
  .photo-editor__photo,
  .photo-editor__tools-container {
    display: inline-block;
  }
  .photo-editor__photo {
    width: 300px;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .photo-editor__wrapper {
    width: 940px;
    margin: 0 auto;
  }
  .photo-editor__photo {
    margin-left: 80px;
    margin-right: 90px;
  }
}
